body {
    background-color: #000000;
}

header img {
    margin: 0.3em auto;
    height: 10em;
}
header .columns {
    text-align: center;
}
.clearing-blackout .clearing-container .visible-img { height: 100% !important; }
.clearing-blackout .clearing-container .carousel { display: none !important; }